@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Gothic A1', sans-serif;
  @apply bg-neutral-950;
}

.page-container {
  width: 100vw;
  height: 100vh;
  @apply flex flex-col justify-center items-center;
  background-image: url('curve.svg');
  background-size:110%;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  @apply text-green-600 fixed top-8 text-4xl font-bold sm:text-8xl;
}

.login-container {
  @apply bg-neutral-900 flex flex-row justify-center items-center rounded-3xl w-[16rem] h-[20rem]
  sm:w-[22rem] sm:h-[25rem];
}

.login-btn {
 @apply bg-green-600 text-neutral-100 font-bold px-6 py-5 text-xl rounded-full hover:bg-green-700 active:bg-green-800
 sm:text-2xl;
}

.generate-container {
  @apply bg-neutral-900 flex flex-row justify-center items-center rounded-3xl p-4 sm:p-8
  w-[95%] h-[80%] 
  sm:w-[90%] sm:h-[80%]
  md:w-[80%] md:h-[95%]
  lg:w-[60%] lg:h-[95%]
  2xl:w-[40%] 2xl:h-[95%]; 
}

.tracks-container {
  @apply w-[100%] h-[100%] grid grid-cols-2;
}

.track {
  @apply flex flex-col justify-evenly items-center p-1 sm:p-3 text-green-600;
}

.track canvas {
  @apply 
  h-[40px] w-[120px]
  sm:h-[60px] sm:w-[180px]
  md:h-[80px] md:w-[240px];
}

.title {
  @apply text-center font-bold mb-[-1rem] sm:mb-[-.5rem] line-clamp-1
  text-base lg:text-lg;
}

.artist {
  @apply line-clamp-1 text-center;
}

/* ----------------------------- LOADER ----------------------------------- */

.loading-text {
  @apply text-center text-xl text-green-600 mt-6 italic font-bold;
  animation: custom-pulse 1.5s ease-in-out infinite;;
}

@keyframes custom-pulse {
  50% {
    opacity: .5;
  }
}

.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bars {
  width: 10px;
  height: 20px;
  margin: 0 2px;
  border-radius: 4px;
  animation: loader3 1.5s ease-in-out infinite;
}

.bar1 {
  @apply bg-green-600;
  animation-delay: -0.85s;
}

.bar2 {
  @apply bg-green-600;
  animation-delay: -0.75s;
}

.bar3 {
  @apply bg-green-600;
  animation-delay: -0.65s;
}

.bar4 {
  @apply bg-green-600;
  animation-delay: -0.55s;
}

.bar5 {
  @apply bg-green-600;
  animation-delay: -0.45s;
}

.bar6 {
  @apply bg-green-600;
  animation-delay: -0.35s;
}

.bar7 {
  @apply bg-green-600;
  animation-delay: -0.25s;
}

.bar8 {
  @apply bg-green-600;
  animation-delay: -0.15s;
}

.bar9 {
  @apply bg-green-600;
  animation-delay: -0.05s;
}

.bar10 {
  @apply bg-green-600;
  animation-delay: 0.05s;
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 4);
  }

  40% {
    transform: scale(1);
  }
}


/* ------------------------------------------------------------------------ */